<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shrtnr</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="grid place-items-center h-screen bg-gradient-to-r from-green-400 to-blue-500">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" action="">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="url">
                URL
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="url" name="url" type="url" required>
        </div>


        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
            Shorten
        </button>


    </form>
    <div>
        <% if (data) { %>
            <a href="http://localhost:3000/api/shorturl/<%= data.shortUrl %>" class="no-underline hover:underline" target="_blank"><%= data.shortUrl %></a>

        <% } %>
    </div>
</div>
</body>
</html>